<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <table border="1">
        <tr><th colspan="5">Users Data</th></tr>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <%for(let user of result) { %>
        <tr>
            <td><%=user.id%></td>
            <td><%=user.username%></td>
            <td><%=user.email%></td>
            <td>
                <form method="get" action="/user/<%=user.id%>/edit">
                    <button>Edit Username</button>
                </form>
            </td>
            <td><form method="get" action="/user/<%=user.id%>/delete">
                <button>Delete Account</button>
            </form></td>
        </tr>
    <%}%>
      </table> 
      
</body>
</html>


